.button {
    padding: 5px 10px;
    background-color: var(--light);
    color: var(--black);
    border-radius: 2px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--off-white) var(--medium) var(--medium) var(--off-white);
    font-size: 1.125rem;
}