.form {
    padding: 50px;
    width: 100%;
    max-width: 800px;
    margin: 15px auto;
    background-color: var(--off-white);
}

@media screen and (prefers-color-scheme: dark) {
  .form {
    background-color: var(--dark);
    color: var(--white);
  }
}